<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>if-else</h2>
    <h2>공유된 값 : <span th:text="${score}"></span></h2>
    <h2>출력결과 : <span th:text="성공" th:if="${score >= 90}"></span></h2>
    <!--score가 90점 이상이면 성공 출력 아니면 안나옴-->
    <h2>출력결과 : <span th:text="실패" th:unless="${score >= 90}"></span></h2>

    <h2>switch</h2>
    <div th:switch="${score}">
        <span th:case="10">10대</span>
        <span th:case="20">20대</span>
        <span th:case="30">30대</span>
        <span th:case="40">40대</span>
        <span th:case=*>기타</span>
    </div>
</body>
</html>